<div class="container schedule_new">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render 'form', url: new_schedule_path, rule_data: @rule_data %>
  </div>
  <div class="col-md-2"></div>
</div>