
<div class="container" style="display:flex">
  <div class="col-md-3">
    <%= render 'info_table', race: @race %>
  </div>
  <div class="col-md-9">
    <%= render 'horse_table', race_horses: @race.race_horses %>
  </div>
</div>

<% unless  @odds_histories.blank? %>
  <%= render 'odds_history', odds_histories: @odds_histories, params: @optimized_params %>
<% end %>

<%#= debug(@race.attributes) if Rails.env.development? %>
<%#= debug(@race.race_horses.map { |race_horse| race_horse.attributes }) if Rails.env.development? %>
