// app/views/race用のCSS

div.race_list{
    display: flex;
    div{
        padding: 3px 5px;
    }
    .raceclass-G1{
        background-color: #fbea8e;
    }
    .raceclass-G2{
        background-color: #dfdddd;
    }
    .raceclass-G3{
        background-color: #dbdbfd;
    }
    .search_form{
        padding-right: 10%;
    }
}

div.race_info{
    display: flex;
    .raceclass-G1{
        text-decoration: underline double #fbea8e;
    }
    .raceclass-G2{
        text-decoration: underline double #dfdddd;
    }
    .raceclass-G3{
        text-decoration: underline double #dbdbfd;
    }
}

div.race_horses{
    display: flex;
}

div.odds_history{
    display: flex;
    padding: 15px;
    th, td{
        border: solid black 1px;
        padding: 3px 5px;
    }
    td.zero{
        color: #AAA;
    }
    td.dominant{
        color: #0abf0a;
    }
}

div.strategies{
    display: flex;
    padding: 10px;
    th, td{
        border: solid black 1px;
        padding: 2px 5px;
    }
    td.zero{
        color: #dfdddd;
    }
    td.dominant{
        color: #06c306;
        font-weight: bold;
    }
    td.gain-nega{
        color: red;
    }
    td.gain-posi{
        color: #06c306;
        font-weight: bold;
    }
}

div.result_table{
    display: flex;
    padding: 15px;
    th, td{
        border: solid black 2px;
        padding: 3.5px 7px;
    }
    td.dominant{
        color: #06c306;
        font-weight: bold;
    }
}

.raceframe-1{
    background-color: white;
    color: black;
}
.raceframe-2{
    background-color: #333;
    color: white;
}
.raceframe-3{
    background-color: #e95556;
    color: white;
}
.raceframe-4{
    background-color: #385da2;
    color: white;
}
.raceframe-5{
    background-color: #e7c52c;
    color: white;
}
.raceframe-6{
    background-color: #2a7f30;
    color: white;
}
.raceframe-7{
    background-color: orange;
    color: white;
}
.raceframe-8{
    background-color: pink;
    color: white;
}

.resultorder-1{
    color: crimson;
    background-color: mistyrose;
    font-weight: bold;
}
.resultorder-2{
    color: cornflowerblue;
    background-color: lightcyan;
    font-weight: bold;
}
.resultorder-3{
    color: orange;
    background-color: floralwhite;
    font-weight: bold;
}
.resultorder-rest{
    color: #ccc;
}