// app/views/stats用のCSS

div.stats{
    display: block;
    div{
        padding: 3px 5px;
    }
    div.average{
        text-align: right;
    }
    span:before{
        content: "";
        display: inline-block;
        width: 3px;
        height: 16px;
        position: relative;
        top: 3px;
        left: -3px;
    }
    #gain_average{
        &:before{
            background-color: #3366cc;
        }
    }
    #hit_average{
        &:before{
            background-color: #ff9900;
        }
    }
}

div.stats_form{
    display: flex;
    padding: 10px 20px;
    div{
        padding: 5px 10px;
    }
    div.form-group{
        display: flex;
        input.duration{
            display: inline-block;
            width: 40%;
            margin: 5px 10px;
        }
        input.proposer_param{
            display: inline-block;
            width: 70%;
        }
    }
}
